  html {
    /* width: 100%; */
    overflow-y: scroll;
  }




@media screen and (max-width: 700px) {

  /* body {
    width: 100%;
  }

  .container {
    width: 100%;
  } */

  p {
      margin: 0;
  }

  a {
      text-decoration: none;
  }
  
  
  /* main navbar mobile */


  div#invisible-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 10em; */
    visibility: hidden;
  }
  
  div#main-navbar {
    background-color: white;
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #main-navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    margin-top: 0.6em;
  }
  
  ul#main-navbar ul {
    margin: 0;
  }
  
  h1 {
    margin: 0;
  }
  
  div#main-navbar ul li i {
    font-size: 4em;
  }
  
  div#main-navbar ul li i:hover {
    color: red;
  }
  
  /* splash page */
  
  .section {
    /* height: 25em; */
  }
  
  
  button {
    background-color: white;
    border: none;
  }
  
  .icon {
    color: black;
  }
  
  #first {
    top: 0;
    width:100%;
    height: 5em;
  }
  
  #title-page {
    width: 100%;
    /* background-color: red; */
    border: 1px solid black;
  }

  #title {

  }

  #link-to-profile {
      position: relative;
      text-align: center;
      top: 2em;
  }

  #link-to-profile a {
    
  }

  #link-to-profile a i {
    background-color: white;
    color: black;
  }

  .next-section {
    font-size: 4em;
  }
  
  .section-break {
    height: 4.2em;
  }
  
  #green {
    width: 100%;
    background-color: green;
  }
  
  #blue {
    /* width: 100%; */
    /* background-color: blue; */
    height: 30em;
  }

  .section-title {
    text-align: center;
    margin-bottom: 1em;
      
  }

  .section-title h1 {
      /* margin: 0, 0, 2em, 0; */
      font-size: 3em;
  }

    /* .appSlides {
        display: none;
        height: 30em;
    } */

    .appSlides-container {
        position: relative;
        top: .1em;
        /* width: 100%; */
        width: 80%;
        height: 3em;
        /* background-color: red; */
        /* top: 20%; */
        margin: auto;
    }

    .panel {
        position: relative;
        /* width: 50em; */
        height: 37%;
        margin: auto;
        /* background-color: black; */
        border-radius: 4%;
    }

    .panel-content {
      position: relative;
      top: 0.1em;
      height: 30%;
      text-align: center;
    }

    #panel-controls {}

    .stocktwits-content {
      margin: 0;
      text-align: center;
      color: white;
    }

    #stocktwits-logo {
      margin-bottom: .2em;
      font-size: 3em;
    }

    #stocktwits-title {
      font-size: 2em;
    }

    #stocktwits-panel {
      background-color: black;
    }

    #green-panel {
      background-color: green;
    }

    #blue-panel {
      background-color: blue;
    }

    /* .panel-content {
      position: relative;
      margin: auto;
    } */

    .prev, .next {
      color: black;
      top: 1em;
      /* bottom: 2em; */
      /* cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none; */
    }
    
    #prev {
      position: relative;
      /* bottom: 10em; */
      right: 2.5em;
    }

    #next {
      position: relative;
      left: 2.5em;
    }

    #prev i, #prev i {
      font-size: 4em;
    }

    #next i {
      font-size: 4em;
    }

    /* #prev, #next {
      font-size: 1em;
    } */

    #dots {
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #717171;
    }

    .next-icon {
      position: relative;
      text-align: center;
      margin-top: 2em;
      /* top: 15.1em; */
    }

    #app-section-next i {
        font-size: 5em;
        color: black;
        background-color: transparent;
        border-radius: 50%;
        border: none;
    }

  #yellow {
    /* width: 100%;
    background-color: yellow; */
  }
  
  #section4-break {
    height: 5em;
  }

  #social-media-links1 {
    width: 100%;
    background-color: transparent;
    /* overflow: auto; */
  }

  #info-section {
    width: 100%;
    height: 40em;
  }

  #social-media-links1 a {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 2.5em;
  }

  #social-media-links2 {
    display: inline-block;
    position: relative;
    height: 1em;
    background-color: orange;
    margin: 0 auto;
    width: 80%;
    /* background-color: transparent; */
  }

  #social-media-links2 a {
    float: left;
    width: 40%;
    text-align: center;
    font-size: 2.5em;
  }

  #mail-icon {
    position: relative;
  }

  #cv-icon {
    position: relative;
  }


  
  
  

  
  /* stocktwits page */
  .twit-button {
    width: 100%;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .delete-button {
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background: transparent;
    color: red;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  hr {
    border: 1px solid black;
  }
  
  h3, h4 {
    margin-bottom: 0;
  }
  
  nav {
    border-bottom: 4px solid black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 16px 32px;
  }
  
  nav a:hover {
    background: black;
    color: white;
  }
  
  .search-box {
    width: 100%;
    height: 4em;
    background: black;
  }
  
  .search-form {
    position: relative;
    width: 50%;
    height: 50%;
    text-align: center;
    margin: 0 auto;
    top: 25%;
  }
  
  .test-class {
    grid-row: 2/3;
    text-align: center;
    margin-top: 1em;
  }
  
  .dropdown {
    width: 70%;
    margin: 0 auto;
  }
  
  .dropbtn:hover {
    background-color: grey;
  }
  
  .hidden-content {
    display: none;
  }
  
  .dropdown-content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  
  .dropdown-content li {
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
  }
  
  .dropdown-content li p.user {
    width: 100%;
    float: left;
    text-align: left;
    font-weight: bold;
    top: 10%;
    padding: 0;
    margin-top: 1em;
    overflow-wrap: break-word;
  }
  
  .dropdown-content li p.post {
    width: 100%;
    float: left;
    margin-left: 1em;
    padding: 0;
    margin: 0;
    text-align: justify;
    overflow-wrap: break-word;
  }
  
  .show {display:block;}

}


/* Mobile devices with higher height dimension */

@media screen and (min-height: 600px) {
  /* #blue {
    height: 50em;
  } */
}


@media screen and (min-width: 701px) {
    body {
        max-width: 60em;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
    }

    h1 {
        margin: 0;
    }

    button {
        background-color: transparent;
        border: none;
    }

    div#invisible-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 10em; */
        visibility: hidden;
    }

    div#main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        /* width: 100%; */
        /* width: 60em; */
        height: 5em;
        z-index: 1;
      }

    div#main-navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;
        max-width: 60em;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 0.5em;
        /* position: fixed;
        left: 88em;
        top: 0.4em; */
        /* right: 25em; */
    }

    div#main-navbar ul li {
        list-style: none;
        margin-bottom: 2em;
    }

    div#main-navbar ul li i {
        font-size: 4em;
    }

    /* splash page */
  
    .section {
        /* height: 54em; */
    }
    
    /* #first {
        top: 0;
        
        height: 5em;
    } */

    #first {
        top: 0;
        width:100%;
        height: 5em;
    }
    
    #title-page {
        border: 1px solid black;
    }

    #title {
        
    }

    #link-to-profile {
        position: relative;
        text-align: center;

    }
    
    .section-break {
        height: 5em;
    }
    
    #green {
        background-color: green;
    }
    
    #blue {
        /* background-color: blue; */
        /* height: 60em; */
    }

    .section-title {
      text-align: center;
      /* margin-bottom: 2em; */
      
    }

    .section-title h1 {
      margin: 0, 0, 2em, 0;
      font-size: 2.5em;
    }


    .panel {
        position: relative;
        width: 24em;
        height: 12em;
        margin: auto;
        background-color: black;
        
    }

    .panel-content {
      position: relative;
      top: 0.1em;
    }

    .stocktwits-content {
      margin: 0;
      text-align: center;
      color: white;
    }

    #stocktwits-logo {
      margin-bottom: .2em;
      font-size: 5em;
    }

    #stocktwits-title {
      font-size: 4em;
    }

    /* .panel-content {
      position: relative;
      margin: auto;
    } */

    .prev, .next {
      color: black;
      top: 2em;
      /* cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none; */
    }
    
    #prev {
      position: relative;
      /* bottom: 17em; */
      right: 5em;
    }

    #next {
      position: relative;
      left: 5em;
      /* bottom: 17em; */
      /* left: 53.1em; */
    }

    #prev i {
      font-size: 4em;
    }

    #next i {
      font-size: 4em;
    }

    #apps-next, #projects-next {
      display: none;
    }

    /* #prev, #next {
      font-size: 1em;
    } */

    #dots {
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #717171;
    }

    #next-icon {
      text-align: center;
    }

    #app-section-next i {
        font-size: 10em;
        color: black;
        /* background-color: black; */
        border-radius: 50%;
        border: none;
    }

    #info-section {
      height: 40em;
    }
    
    /* #section3-break {
        height: 40em;
    } */


}

